<!DOCTYPE html>
<html>
<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ app_name }}{% block extratitle %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
    }
    .footer p {
      margin: 20px 0;
    }
    #main > div {
      margin-bottom: 90px;
    }
  </style>
{% endblock %}
</head>

<body>
  <nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/">{{ app_name }}</a>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'auth_logout' %}">
          <i class="material-icons">exit_to_app</i>
        </a>
      </li>
    </ul>
    {% endif %}
  </nav>
  <div class="container-full" id="main">
    <div class="col-sm-3">
      {% include "partials/nav.html" %}
    </div>

    <div class="col-sm-9">
    {% block body %}{% endblock %}
    </div>
  </div>
  {% include "partials/footer.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>

</html>
