{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="col-sm-8">
    <h1>Choose repositories to register</h1>
    <form class="form" method="post" action="{% url 'webhooks_create' %}">
      {% csrf_token %}
      {% for section, repos in repositories %}
      <ul class="list-group">
        {% for repo in repos %}
        <li class="list-group-item">
          <input type="checkbox" name="repo_{{ repo.full_name }}"
                 {% if repo.full_name in active_hooks %}checked="checked"{% endif %}>
          {{ repo.full_name }}
          <input type="hidden" name="default_branch_{{ repo.full_name }}" value="{{ repo.default_branch }}"/>
        </li>
        {% endfor %}
      </ul><br/>
      {% endfor %}
      <div class="text-sm-right">
        <input type="submit" value="Register selected repositories" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
