{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="col-sm-8">
    <h1>Choose repositories to register</h1>
    {% for section, repos in repositories %}
    <ul class="list-group">
      {% for repo in repos %}
      <li class="list-group-item">
        <span class="pull-xs-right">
        {% if repo.full_name in active_hooks %}
        <a href="{% url 'webhooks_remove' repo.full_name %}">
          <i class="material-icons text-danger">remove_circle_outline</i>
        </a>
        {% else %}
        <a href="{% url 'webhooks_add' repo.full_name %}?default_branch={{ repo.default_branch }}">
          <i class="material-icons text-success">add_circle_outline</i>
        </a>
        {% endif %}
        </span>
        {{ repo.full_name }}
      </li>
      {% endfor %}
    </ul><br/>
    {% endfor %}
  </div>
</div>
{% endblock %}
