{% extends "base.html" %}
{% load utils %}

{% block body %}
<h1>{{ repository.name}} <small>latest builds</small></h1>
<ul class="list-group">
  {% for build in builds %}
  <li class="list-group-item">
    <i class="material-icons text-{% build_icon_color build %}">
      {% build_icon build %}
    </i>
    <a href="{% url "interface_build" build.repository.name build.number %}">{{ build.short_sha }}</a>
    on {{ build.branch}}, by {{ build.pusher_name }}, <i>{{ build.created_at|timesince }} ago</i>
  </li>
  {% endfor %}
</ul>
{% endblock %}
